name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.25

    - name: Install golangci-lint
      run: |
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.8.0
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

    - name: Install DI dependencies
      run: cd di && go mod tidy

    - name: Run DI lint checks
      run: cd di && golangci-lint run

    - name: Run DI tests
      run: cd di && go test ./...